extends layout-new-general

//- block title
//- 	| Entries

block content
	.listing
	// Column Left
	h2.heading-title.box-shadow Blog List
	.news-list
		each item in sortBy(blog, '-date').slice(0,8)
			.list.box-shadow

				// Item Heading Info
				.list-heading
					h1 
						a(href=item.permalink)= item.title
					.author
						| by !{item.author}
					.date
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 511.634 511.634')
							path(d='M482.513 83.942c-7.225-7.233-15.797-10.85-25.694-10.85h-36.542v-27.41c0-12.56-4.477-23.315-13.422-32.26C397.906 4.474 387.156 0 374.59 0h-18.267c-12.565 0-23.318 4.475-32.264 13.422-8.95 8.945-13.423 19.7-13.423 32.26v27.41h-109.63v-27.41c0-12.56-4.475-23.314-13.422-32.26C178.64 4.475 167.885 0 155.32 0h-18.27c-12.562 0-23.317 4.475-32.264 13.422-8.945 8.945-13.42 19.7-13.42 32.26v27.41H54.822c-9.9 0-18.464 3.618-25.697 10.85-7.233 7.233-10.85 15.8-10.85 25.698v365.453c0 9.89 3.617 18.456 10.85 25.693 7.232 7.23 15.796 10.85 25.697 10.85h401.99c9.896 0 18.47-3.618 25.693-10.85 7.234-7.234 10.852-15.804 10.852-25.693V109.64c0-9.9-3.615-18.465-10.845-25.698zM347.187 45.686c0-2.667.85-4.858 2.56-6.567 1.71-1.712 3.9-2.57 6.57-2.57h18.268c2.67 0 4.853.855 6.57 2.57 1.712 1.71 2.567 3.902 2.567 6.566v82.224c0 2.666-.855 4.853-2.567 6.567-1.718 1.71-3.9 2.568-6.57 2.568h-18.268c-2.67 0-4.86-.855-6.57-2.568-1.71-1.715-2.56-3.9-2.56-6.567V45.686zm-219.272 0c0-2.667.855-4.858 2.568-6.567 1.714-1.712 3.9-2.57 6.567-2.57h18.27c2.668 0 4.86.855 6.568 2.57 1.71 1.71 2.57 3.902 2.57 6.566v82.224c0 2.666-.855 4.856-2.57 6.567-1.713 1.71-3.9 2.568-6.567 2.568h-18.27c-2.666 0-4.856-.855-6.567-2.568-1.71-1.715-2.568-3.9-2.568-6.567V45.686zm328.897 429.402H54.822v-292.36h401.99v292.36z')

						=dateFormat(item.date, "dddd, LL")
					.category
						svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 542.183 542.183')
							g
								path(d='M432.544 310.636c0-9.897-3.52-18.56-10.564-25.984L217.844 80.8c-7.232-7.238-16.94-13.374-29.12-18.416-12.182-5.043-23.32-7.565-33.408-7.565H36.546c-9.897 0-18.465 3.618-25.695 10.847C3.617 72.9 0 81.467 0 91.365v118.77c0 10.09 2.52 21.22 7.564 33.405 5.046 12.185 11.187 21.792 18.417 28.837L230.12 476.8c7.043 7.042 15.608 10.563 25.694 10.563 9.898 0 18.562-3.52 25.984-10.564l140.186-140.47c7.04-7.046 10.56-15.605 10.56-25.694zM117.204 172.02c-7.14 7.138-15.752 10.71-25.84 10.71-10.086 0-18.7-3.572-25.838-10.71-7.14-7.14-10.705-15.75-10.705-25.837 0-10.09 3.567-18.702 10.706-25.837 7.14-7.14 15.752-10.71 25.837-10.71 10.09 0 18.702 3.57 25.84 10.71 7.136 7.135 10.708 15.75 10.708 25.837 0 10.088-3.57 18.698-10.706 25.837z')
								path(d='M531.612 284.655l-204.14-203.85c-7.23-7.24-16.938-13.375-29.12-18.418-12.178-5.042-23.314-7.564-33.403-7.564h-63.954c10.088 0 21.222 2.522 33.402 7.564 12.185 5.046 21.892 11.182 29.125 18.417l204.137 203.85c7.046 7.424 10.57 16.085 10.57 25.982 0 10.09-3.524 18.647-10.57 25.693L333.47 470.52c5.717 5.9 10.758 10.18 15.132 12.846 4.38 2.666 9.996 3.998 16.844 3.998 9.903 0 18.565-3.52 25.98-10.564l140.186-140.47c7.046-7.046 10.57-15.604 10.57-25.693-.003-9.898-3.524-18.56-10.57-25.982z')

						=item.leadtag

				// Item Thumbnail
				.list-thumbnail
					img.img-responsive(src=item.thumbnail)

				// Item Description
				.list-description
					p= item.shortdesc

				// Item Footer
				.list-footer
					.read-more
						a(href=item.permalink)
							| Read more
					.sharer.hidden
						.addthis_toolbox.addthis_default_style.addthis_32x32_style(data-url=item.permalink, data-title=item.title, data-description=item.shortdesc, data-media=item.thumbnail)
						.custom_images
							a.addthis_button_facebook
								svg(xmlns='http://www.w3.org/2000/svg', width='34', height='34', viewbox='0 0 612 612')
									path(d='M612 306C612 137.004 474.995 0 306 0 137.004 0 0 137.004 0 306c0 168.995 137.004 306 306 306 168.995 0 306-137.005 306-306zm-584.182 0C27.818 152.36 152.36 27.818 306 27.818S584.182 152.36 584.182 306 459.64 584.182 306 584.182 27.818 459.64 27.818 306z')
									path(d='M317.74 482.617V306h58.278l9.208-58.53H317.74v-29.347c0-15.272 5.006-29.85 26.927-29.85h43.813v-58.417h-62.2c-52.3 0-66.57 34.438-66.57 82.175v35.414h-35.885V306h35.885v176.617h58.03z')
							a.addthis_button_twitter
								svg(xmlns='http://www.w3.org/2000/svg', width='34', height='34', viewbox='0 0 612 612')
									path(d='M437.22 245.162c0-3.088-.057-6.148-.196-9.18 13.214-9.848 24.675-22.17 33.744-36.275-12.13 5.453-25.148 9.097-38.835 10.626 13.965-8.596 24.675-22.338 29.738-38.834-13.074 7.927-27.54 13.602-42.923 16.55-12.323-14.02-29.904-22.95-49.35-23.283-37.332-.612-67.598 30.934-67.598 70.463 0 5.62.583 11.072 1.75 16.33-56.22-3.617-106.04-32.882-139.368-77-5.814 10.57-9.152 22.92-9.152 36.163 0 25.037 11.934 47.29 30.07 60.42-11.098-.5-21.502-3.865-30.626-9.374v.917c0 34.996 23.312 64.316 54.245 71.16-5.676 1.612-11.657 2.447-17.805 2.42-4.367-.028-8.596-.5-12.713-1.392 8.596 28.68 33.577 49.628 63.147 50.323-23.146 19.194-52.3 30.655-83.956 30.572-5.453 0-10.85-.36-16.135-1.03 29.932 20.53 65.455 32.492 103.65 32.492 124.32.03 192.31-108.184 192.31-202.07z')
									path(d='M612 306C612 137.004 474.995 0 306 0 137.004 0 0 137.004 0 306c0 168.995 137.004 306 306 306 168.995 0 306-137.005 306-306zm-584.182 0C27.818 152.36 152.36 27.818 306 27.818S584.182 152.36 584.182 306 459.64 584.182 306 584.182 27.818 459.64 27.818 306z')
							a.addthis_button_linkedin
								svg(xmlns='http://www.w3.org/2000/svg', width='34', height='34', viewbox='0 0 314.652 314.652')
									path(d='M157.326 0C70.576 0 0 70.576 0 157.326s70.576 157.326 157.326 157.326 157.326-70.576 157.326-157.326S244.076 0 157.326 0zm0 296.652C80.5 296.652 18 234.15 18 157.326S80.5 18 157.326 18s139.326 62.502 139.326 139.326-62.5 139.326-139.326 139.326z')
									path(d='M112.326 121.12c-4.97 0-9 4.028-9 9v74.413c0 4.97 4.03 9 9 9s9-4.03 9-9V130.12c0-4.972-4.03-9-9-9zM112.326 79.116c-2.37 0-4.69.96-6.36 2.64-1.68 1.67-2.64 3.99-2.64 6.36s.96 4.69 2.64 6.37c1.67 1.67 3.99 2.63 6.36 2.63s4.69-.96 6.36-2.63c1.68-1.68 2.64-4 2.64-6.37s-.96-4.69-2.64-6.36c-1.67-1.68-3.99-2.64-6.36-2.64zM190.076 128.12c-9.42 0-18.14 3.035-25.25 8.168v-6.17c0-4.97-4.03-9-9-9s-9 4.03-9 9v74.415c0 4.97 4.03 9 9 9s9-4.03 9-9V171.37c0-13.924 11.327-25.25 25.25-25.25s25.25 11.326 25.25 25.25v35.163c0 4.97 4.03 9 9 9s9-4.03 9-9V171.37c0-23.85-19.402-43.25-43.25-43.25z')
							a.addthis_button_more
								svg(xmlns='http://www.w3.org/2000/svg', width='34', height='34', viewbox='0 0 400 400')
									path(d='M199.995 0C89.715 0 0 89.72 0 200s89.716 200 199.995 200C310.277 400 400 310.28 400 200S310.277 0 199.995 0zm0 373.77C104.182 373.77 26.23 295.816 26.23 200c0-95.817 77.95-173.77 173.765-173.77 95.817 0 173.772 77.953 173.772 173.77.002 95.816-77.955 173.77-173.772 173.77z')
									path(d='M279.478 186.884h-66.363V120.52c0-7.243-5.872-13.115-13.115-13.115s-13.115 5.873-13.115 13.115v66.368h-66.36c-7.243 0-13.116 5.873-13.116 13.115 0 7.243 5.872 13.115 13.114 13.115h66.358v66.362c0 7.242 5.872 13.114 13.115 13.114 7.242 0 13.115-5.872 13.115-13.114v-66.365h66.367c7.24 0 13.113-5.873 13.113-13.115 0-7.243-5.873-13.116-13.115-13.116z')
		nav
			ul.pager
				li.previous.disabled
					a(href='#')
						span(aria-hidden='true') ←
						| Prev
				li.next.disabled
					a(href='#')
						| Next
						span(aria-hidden='true') →